<h1>SERIE A</h1>
<!--
<ul>
  <li *ngFor="let match of matchList" [routerLink]="['/match',match.id]">
    <p> Giornata {{match.matchDay}} - {{match.utcDate | date}}</p>
    <p><img class="logo-team" src="{{match.homeTeam.crestUrl}}"> {{match.homeTeam.name}} - {{match.awayTeam.name}} <img class="logo-team" src="{{match.awayTeam.crestUrl}}"> {{match.fullTime[0]}} - {{match.fullTime[1]}}</p>
  </li>
</ul> -->


<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0" *ngFor="let match of matchList" [routerLink]="['/match',match.id]">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Giornata {{match.matchDay}} - {{match.utcDate | date}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">stemma home</div>
          <div class="col-md-3">squadra casa</div>
          <div class="col-md-1"> VS </div>
          <div class="col-md-3">squadra ospite</div>
          <div class="col-md-2">stemma ospite</div>
          <div class="col-md-1">risultato</div>
        </div>
      </div>
    </div>
  </div>

</div>
