.row >div > img  {
  width: 50px;
  height: 50px
}

.row{
  margin: 10px;
  font-size: 18px;
}

.row > div {
  line-height: 50px;
  }

.row > div > h4 {
  text-align: center;
  line-height: 50px;

}
.card{

  text-align: center;
  background: rgba(251, 255, 246, 0.65);
}

.list-match{
  cursor: pointer;
}
.card-body{
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  background: rgba(10,10,10,0.5);

}

#loader-container{
  position: fixed;
  height: 100vh;
  width: 100vw;


}

#loader-message{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -100px 0 0 -150px;
  color: white;
}
