<div *ngIf="loader" id="loader-container">
  <div id="loader-message">
    <img src="../../assets/images/live-loader.gif">
    <h6>Loading matches days...</h6>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img src="../../assets/images/logo-seriea.svg">
    </div>
    <div class="col-xs-8">
      <h1>SERIE A</h1>
    </div>
  </div>


  <div id="accordion">
    <div class="card" *ngFor="let dayMatch of matchDayMap | keyvalue">
      <div class="card-header" [attr.id]="'head'+dayMatch.key">
        <h4 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseId'+dayMatch.key"
                  [attr.aria-expanded]="false" [attr.aria-controls]="'collapseId'+dayMatch.key">
            Giornata {{dayMatch.key}} a partire da {{dayMatch.value[0].utcDate | date:'d MMMM  y ore H:mm'}}
          </button>
        </h4>
      </div>

      <div [attr.id]="'collapseId'+dayMatch.key" [classList]="'collapse'" [attr.aria-labelledby]="'head'+dayMatch.key"
           data-parent="#accordion">
        <div class="card-body container-fluid">
          <div *ngFor="let match of dayMatch.value" class="row justify-content-center list-match" [routerLink]="['/match', match.id]" >
            <div class="col-sm-1"><img src="{{match.homeTeam.crestUrl}}"></div>
            <div class="col-sm-4 col-7">{{match.homeTeam.name}}</div>
            <div class="col-sm-1 col-3"><h4>{{match.fullTime[0]}}</h4></div>
            <div class="col-sm-1"><h4>{{match.fullTime[1]}}</h4></div>
            <div class="col-sm-4">{{match.awayTeam.name}}</div>
            <div class="col-sm-1"><img src="{{match.awayTeam.crestUrl}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

