<div *ngIf="teamSelected" id="team-detail">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-sm-2 offset-sm-3"><img id="logo-team" src="{{teamSelected.crestUrl}}"></div>
      <div class="col-sm-6"><br><br>
        <h1>{{teamSelected.name}}</h1>
      </div>
    </div>
    <br><br>
    <div *ngIf="teamSelected.squad.length > 0" class="row justify-content-center">
      <div class="col-sm-6">
        <h3>Informazioni squadra</h3>
        <h5>Allenata da {{coachTeam}}</h5>
        <h5>Fondata nel {{teamSelected.founded}}</h5>
        <h5>{{teamSelected.venue}}</h5>
        <h5><a href=" {{teamSelected.website}}">Sito web</a></h5>
      </div>
      <div class="col-sm-6">
        <h3>Competizioni attive</h3>
        <h5 *ngFor="let nameCompetition of teamSelected.activeCompetition">{{nameCompetition.name}}</h5>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <h3>Portieri</h3>
        <div *ngFor="let goalKepp of mapRole.get('Goalkeeper')" class="role-player">
          <div class="row justify-content-center">
            <div class="col-8" >{{goalKepp.name}}</div>
            <div class="col-3 ">
                <span class="span-shirt">
                <p>{{goalKepp.shirtNumb}}</p>
                </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h3>Difensori</h3>
        <div *ngFor="let defend of mapRole.get('Defender')" class="role-player">
          <div class="row justify-content-center">
            <div class="col-8">{{defend.name}}</div>
            <div class="col-3">
            <span class="span-shirt">
                <p>{{defend.shirtNumb}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h3>Centrocampisti</h3>
        <div *ngFor="let mid of mapRole.get('Midfielder')" class="role-player">
          <div class="row justify-content-center">
            <div class="col-8">{{mid.name}}</div>
            <div class="col-3">
              <span class="span-shirt">
                <p>{{mid.shirtNumb}}</p>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h3>Attaccanti</h3>
        <div *ngFor="let attack of mapRole.get('Attacker')" class="role-player">
          <div class="row justify-content-center">
            <div class="col-8">{{attack.name}}</div>
            <div class="col-3">
              <span class="span-shirt">
                <p>{{attack.shirtNumb}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="loader" id="loader-container">
  <div id="loader-message">
    <img src="../../assets/images/live-loader.gif">
    <h6>Loading team details...</h6>
  </div>
</div>
