h1, h3{

  cursor: pointer;
  text-align: center;
}

.home-container{
  display: inline;
}

.away-container{
  display: inline;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

table{
  text-align: center;
}
