<div class="container" *ngIf="matchSelected">
  <h1 class="offset-lg-2">
    <div class="home-container" [routerLink]="['/team', matchSelected.homeTeam.id]">
      <img class="logo-team hidden-sm" src="{{matchSelected.homeTeam.crestUrl}}" alt="logo non disponibile">{{matchSelected.homeTeam.name}}</div>
    -
    <div class="away-container" [routerLink]="['/team', matchSelected.awayTeam.id]"> {{matchSelected.awayTeam.name}}
      <img class="logo-team hidden-sm" src="{{matchSelected.awayTeam.crestUrl}}" alt="logo non disponibile"></div>
  </h1>
  <br>
  <div class="table-responsive-lg">
    <table class="table">
      <tbody>
      <tr>
        <th class="table-light" scope="row">Data:</th>
        <td class="table-light">{{matchSelected.utcDate | date:'d MMMM y ore H:mm'}}</td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Stato del match</th>
        <td class="table-light">{{matchSelected.status}}</td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Risultato parziale:</th>
        <td class="table-light">{{matchSelected.halfTime[0]}}-{{matchSelected.halfTime[1]}}</td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Risultato finale:</th>
        <td class="table-light">{{matchSelected.fullTime[0]}}-{{matchSelected.fullTime[1]}}</td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Arbitro:</th>
        <td class="table-light">{{matchSelected.referees[0]}}</td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Assistenti:</th>
        <td class="table-light"> {{matchSelected.referees[1]}} - {{matchSelected.referees[2]}} -
          {{matchSelected.referees[3]}} - {{matchSelected.referees[4]}}
        </td>
      </tr>
      <tr>
        <th class="table-light" scope="row">Stadio:</th>
        <td class="table-light">{{matchSelected.venue}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
